
* {
box-sizing: border-box;
}

body {
background-color: gold;
color: maroon;
text-align: center;
font-family: "verdana", sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}
.body {
  margin-left: 200px;
  padding left: 20px; 
}
.nav {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  color: maroon;
  display: block;
}
