
* {
box-sizing: border-box;
}

body{
  margin: 0;
 font-family: verdana, sans-serif;
  background color: gold;
}

.nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.nav a {
  color: maroon;
  padding: 20px;
  text-decoration: none;
  display: block;
}

.nav a:hover {
  background color: gold;
  color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  
}

.body {
  margin-left: 200px;
  padding left: 20px; 
}

