body {
background-color: gold;
color: maroon;
text-align: center;
font-family: "verdana", sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}


.topnav p a {
  float: left;
  color: maroon;
  text-align: justified;
}
