
* {
box-sizing: border-box;
text-align: center;
}

body{
  margin: 0;
 font-family: verdana, sans-serif;
  background-color: maroon;
}

.nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gold;
}

.nav a {
  color: black;
  padding: 20px;
  text-decoration: none;
  display: block;

}

.nav a:hover {
  background color: gold;
  color: purple;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}



