body {
background-color: blue;
color: white;
text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

.topnav {
  background-color: blue;
  overflow: hidden;
}

.topnav a {
  float: top;
  color: white;
  text-align: justified;
}
